

body {
    background-color: black;
}

/*===============================================
                    NAVBAR
===============================================*/

.navbar {
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0.774);
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    z-index: 4;
    border-radius: 5px;
  }
  

  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 5%;
  }
  
  
  .dropdown .dropbtn {
    font-size: 1.29em;
    border: none;
    outline: 1px solid white;
    color: white;
    padding: .8em .3em;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(121, 121, 121, 0.452);
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: white;
    min-width: 13.4%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: rgba(173, 172, 172, 0.623);
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /*=====================================================
                     BACKGROUND VIDEO
  =====================================================*/


  #background-video {
	position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%;
    filter: grayscale(100%) blur(1.5px); 
    z-index: -1;
  }

  .overlay-text { 
	background: rgba(20, 20, 20, 0.774); 
	color: white; 
	width: 100%; 
    margin-top: 22%;
    margin-bottom: 2em;
    padding-top: 1em;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

  /*======================================================
                    BOXES / PICS
    =====================================================*/


    * { 
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif; 
    }
    

    .Column_1 {
        margin-top: 1em; 
        float: left;  
        width: 50%;  
        padding-top: 1%;
        padding-bottom: 1%; 
        height: 17em; 
        background-color: rgba(20, 20, 20, 0.966);
        color: white;
        text-align: center;
        border-radius: 5px;
        font-size: 1em;         
    }
    
    .Column_2 {
        margin-top: 1em; 
        float: left;
        width: 50%;
        padding-bottom: 1%;
        padding-top: 1%;
        height: 17em;
        background-color: white;
        filter: opacity(.9);
        border-radius: 5px;
    }

    .Row:after { 
        content: ""; 
        display: table; 
        clear: both; 
    }

    img {
        filter: grayscale(75%); 
        border-radius: 8px; 
        max-width: 100%; 
        background-color: white;
        height: 15em; 
        margin-left: auto; 
        margin-right: auto;
        display: block;	
        filter: opacity(.2);
    }

    img:hover {
        filter: grayscale(60%) opacity(.8);
    }

    /*==================================================================
                            CONTACT FORM
    ===================================================================*/


    input[type=text] { 
        width: 70%;
        padding: ;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box;
        resize: vertical; 
    }
    
    
    input[type=submit] {
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto; 
       
    }
    
    
    input[type=submit]:hover {
        background-color: white;
        color: black; 
        font-weight: bold; 
        transform: scale(1.1); 
        transition: transform 1.5s; 
    }


    /*=============================================
                    FOOTER
    ==============================================*/

    footer {
        margin-top: 5%;
        padding-top: .5em;
        padding-bottom: .5em;
        background-color: rgba(0,0,0,0.7);
        border-radius: 5px;
        color: white;
    }

    